amqp==2.6.1
asgiref==3.4.1
billiard==3.6.4.0
Brotli==1.0.9
celery==4.4.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
clinto==0.4.0
colorama==0.4.4
cryptography==3.4.7
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dateparser==1.0.0
decorator==5.0.9
defusedxml==0.7.1
Django==3.2.5
django-admin-black==0.0.1
django-admin-interface==0.16.3
django-appconf==1.0.4
django-autoslug==1.9.8
django-celery-results==2.0.1
django-colorfield==0.4.1
django-crispy-forms==1.12.0
django-cruds-adminlte==0.0.16
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-grappelli==2.14.3
django-image-cropping==1.5.0
django-jazzmin==2.4.7
django-jet==1.0.8
django-jet-reboot==1.1.1
django-phone-field==1.8.1
django-plotly-dash==1.6.4
django-storages==1.11.1
djangoajax==3.2
dnspython==1.16.0
dpd-components==0.1.0
easy-thumbnails==2.7.1
eventlet==0.30.2
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
geocoder==1.38.1
google-api-python-client==1.4.1
grappelli-side-menu==0.1.4
greenlet==1.0.0
gunicorn==20.1.0
httplib2==0.19.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jsonfield==2.1.1
kombu==4.6.11
MarkupSafe==2.0.1
numpy==1.19.1
oauth2client==4.1.3
oauthlib==3.1.0
Pillow==8.0.1
plotly==5.1.0
prompt-toolkit==2.0.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.0.1
PyMySQL==0.10.0
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
pywin32==300
ratelim==0.1.6
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.15.0
social-auth-core==4.1.0
SQLAlchemy==1.4.7
sqlparse==0.3.1
tenacity==8.0.0
tzlocal==2.1
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.26.4
user-agents==2.2.0
vine==1.3.0
wcwidth==0.2.5
Werkzeug==2.0.1
whitenoise==5.3.0
